{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load humanize %} 

{% block low-content %}
      <div id='form'>
        <form action="/accounts/signup/" id="registerForm" method="post">
          {% csrf_token %}
          <table>
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}

            <tr>
              <th><label for="id_first_name">Nombre:</label></th>
              <td><input id="id_first_name" class="required" type="text" name="first_name" maxlength="30" /></td>
            </tr>
            <tr>
              <th><label for="id_last_name">Apellido:</label></th>
              <td><input id="id_last_name" class="required" type="text" name="last_name" maxlength="30" /></td>
            </tr>
            <tr>
              <th><label for="id_email">E-mail:</label></th>
              <td><input type="text" class="required email" emailUnique="/email_unique/" name="email" id="id_email" /></td>
            </tr>
            <tr>
              <th><label for="id_password1">Password:</label></th>
              <td><input type="password" class="required password" name="password1" id="password1" /></td>
            </tr>
            <tr>
              <th><label for="id_password2">Password (again):</label></th>
              <td><input type="password" class="required" equalTo="#password1" name="password2" id="id_password2" /></td>
            </tr>
            <tr>
              <th><label for="id_comment">Comentario:</label></th>
              <td><textarea id="id_comment" rows="10" cols="40" name="comment"></textarea></td>
            </tr>
            <tr>
              <th><label for="id_country">Pais:</label></th>
              <td><input type="text" name="country" id="id_country" /></td>
            </tr>
            <tr>
              <th><label for="id_suscribed">Suscrito:</label></th>
              <td>
                <input type="checkbox" name="suscribed" id="id_suscribed" />
                <input type="hidden" name="confirmation_key" id="id_confirmation_key" />
              </td>
            </tr>   
            <tr>
              <th><input type="submit" class="submit" value="Firmar"></th>
            </tr>
          </table>
        </form>
      </div>
{% endblock %}
