{% load staticfiles %}
{% load i18n %}
{% load humanize %} 

<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{% static 'js/jquery.validate.js' %}" type="text/javascript"></script>
<script type='text/javascript'>
  function scroll_to(section) {
    switch (section) { 
        case 'manifesto': 
             $('html, body').animate({scrollTop:0}, 'slow');
             break;
        case 'signers': 
             $('html, body').animate({scrollTop:1110}, 'slow');
             break; 
        case 'experiences': 
             $('html, body').animate({scrollTop:1900}, 'slow'); 
             break; 
        case 'about': 
             $('html, body').animate({scrollTop:2700}, 'slow');
             break; 
        default: 
             $('html, body').animate({scrollTop:0}, 'slow');
    }
  }
  
  $(document).ready(function(){
    $('#logo span').mouseover(function(){
      $(this).attr('class', 'yellow');
    });
    $('#logo span').mouseout(function(){
      $(this).attr('class', 'light-blue');
    });
  });
</script>

  <script type="text/javascript">
      $(document).ready(function() {
          $("#registerForm").validate();
      });
  </script>

<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="es">
<head>
<title>{% trans "Digital Solidarity Manifesto" %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
{% comment %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32336771-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endcomment %}
</head>
<body>
<div id="wrap">
  <div id="header">
    <h1 id="logo"> {% trans "Digital<span>Solidarity</span>Manifesto" %}</h1>
    <h2 id="slogan">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% trans "Going beyond " %}...</h2>
  </div>
  <div id="sidebar" >
    <h1>{% trans "Experiences" %}</h1>
    <p>&quot;"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur 
    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 
    laborum."&quot;</p>
    <p class="align-right">- Trololius</p>
  </div>
  <div id="main"> <a name="TemplateInfo"></a>
    <h2>{% trans "Agile Manifesto" %}</h2>
    <p>{% trans "As digital professionals we commit to put our knowledge, skills and experience to the service of mankind. Through this work we want to invite to:" %}</p>
	<p>{% trans "Go beyond well-crafted software" %}<br />
	{% trans "towards <strong>software that really matters</strong>" %}</p>
	<p>{% trans "Go beyond steadily adding value" %}<br/>
	{% trans "towards <strong>constantly making this world a better place</strong>" %}</p>
	<p>{% trans "Go beyond a community of professionals" %}<br/>
	{% trans "towards <strong>a global culture of digital solidarity</strong>" %}</p>
	<p>{% trans "Go beyond productive partnerships" %}<br/>
	{% trans "towards <strong>a fraternity that takes care of the needy</strong>" %}</p>
	<p>{% trans "That is, if the items on the left are necessary for developing useful software and creating business value, we consider that the goals on the right also deserve our skills, energy and passion." %}</p>
  <div id='form'>
    <form action="/accounts/signup/" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}   
                <tr><th><input type="submit" value="Firmar"></th></tr>
            </table>
    </form>
  </div>
  <div id="rightbar">
    <h1>{% trans "Latest Signers" %}</h1>
    <ul>
      {% for user in users %}
        <li>
          <p>
            {{ user.get_profile.country }} -> <i>'{{ user.get_profile.comment }}'</i>
            {{ user.date_joined|naturaltime }},{{ user.get_full_name }}
          </p>
        </li>
      {% endfor %}
    </ul>
    <a href="/all_signers/">Ver m&aacute;s</a>
  </div>
</div>
<div id="footer">
  <div id="footer-content">
    <div id="footer-right"> </div>
    <div id="footer-left"> 
        <form action="/i18n/setlang/" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
                <select name="language">
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                    <option value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>
                    {% endfor %}
                </select>
            <input type="submit" value= '{% trans "change" %}' />
        </form>
    </div>
  </div>
</div>
</body>
</html>
-->
























<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% trans "Digital Solidarity Manifesto" %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <!--<link rel="stylesheet" href="style.css" type="text/css" />-->
    {% comment %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32336771-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endcomment %}
  </head>
  <body>
    <!-- begin: page -->
    <div class='page'>
      <!-- begin: header -->
      <header>
        <div id='header-wrapper' class='wrapper'>
          <a href="javascript:scroll_to('manifesto')" id='logo'><!--Digital Solidarity-->{% trans "Digital<span>Solidarity</span>Manifesto" %}
          </a>

            <nav id='main-nav'>
              <ul>
                <li><a href="javascript:scroll_to('manifesto')" id='link-manifesto'>{% trans "Manifesto" %}</a></li>
                <li>|</li>
                <li><a href="javascript:scroll_to('signers');"  id='link-signers'>{% trans "Signers" %}</a></li>
                <li>|</li>
                <li><a href="javascript:scroll_to('experiences');"  id='link-experiences'>{% trans "Experiences" %}</a></li>
                <li>|</li>
                <li><a href="javascript:scroll_to('about');"  id='link-about'>{% trans "About" %}</a></li>
                <li>|</li>
                <li>
                    <form action="/i18n/setlang/" method="post" id="language">
                    {% csrf_token %}
                    <div>
                    <form action="/i18n/setlang/" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <select name="language">
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                <option value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>
                                {% endfor %}
                            </select>
                        <input type="submit" value= '{% trans "change" %}' />
                    </form>
                </li>
              </ul>
            </nav>
      </header>


      
      <!-- end: header -->
      <div class='clear'></div>
      <!-- begin: content -->
      <div id='content' class='wrapper'>
        <section id='manifesto'>
          <div class='one-third'>
            <img src="{% static 'images/agile.png' %}" width='250px'></img>
            <p id='slogan'>{% trans "Going beyond Software Craftmanship" %}</p>
          </div>
          <div class='two-thirds'>
            <div id='the-manifesto'>
              <h2 class='yellow'>{% trans "Manifesto" %}</h2>
              <p>{% trans "As digital professionals we commit to put our knowledge, skills and experience to the service of mankind. Through this work we want to invite to:" %}
              </p>
                <ul>
                <li>{% trans "Go beyond well-crafted software" %} {% trans "towards <strong>software that really matters</strong>" %}</li>
                <li>{% trans "Go beyond steadily adding value" %} {% trans "towards <strong>constantly making this world a better place</strong>" %}</li>
                <li>{% trans "Go beyond a community of professionals" %}
                  {% trans "towards <strong>a global culture of digital solidarity</strong>" %}</strong></li>
                <li>{% trans "Go beyond productive partnerships" %}
                  {% trans "towards <strong>a fraternity that takes care of the needy</strong>" %}</li>
              </ul>
                <p>
                  {% trans "That is, if the items on the left are necessary for developing useful software and creating business value, we consider that the goals on the right also deserve our skills, energy and passion." %}
                </p>
            </div>    
              <div class='form-box'>
                <h3 class='light-blue'>{% trans "Subscribe" %}</h3>
                <br>
                <form action="/accounts/signup/" id="registerForm" method="post">
                    {% csrf_token %}
                    <table>
                      {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                      {% endfor %}

                      <tr>
                        <th><label for="id_first_name">{% trans "Name:" %}</label></th>
                        <td><input id="id_first_name" class="required" type="text" name="first_name" maxlength="30" /></td>
                      </tr>
                      <tr>
                        <th><label for="id_last_name">{% trans "Last Name:" %}</label></th>
                        <td><input id="id_last_name" class="required" type="text" name="last_name" maxlength="30" /></td>
                      </tr>
                      <tr>
                        <th><label for="id_email">{% trans "E-mail:" %}</label></th>
                        <td><input type="text" class="required email" emailUnique="/email_unique/" name="email" id="id_email" /></td>
                      </tr>
                      <tr>
                        <th><label for="id_password1">{% trans "Password:" %}</label></th>
                        <td><input type="password" class="required password" minlength="2" name="password1" id="password1" /></td>
                      </tr>
                      <tr>
                        <th><label for="id_password2">{% trans "Password (again):" %}</label></th>
                        <td><input type="password" class="required" equalTo="#password1" name="password2" id="id_password2" /></td>
                      </tr>
                      <tr>
                        <th><label for="id_comment">{% trans "Comment:" %}</label></th>
                        <td><textarea id="id_comment" rows="10" cols="40" name="comment"></textarea></td>
                      </tr>
                      <tr>
                        <th><label for="id_country">{% trans "Country:" %}</label></th>
                        <td><input type="text" name="country" id="id_country" /></td>
                      </tr>
                      <tr>
                        <th><label for="id_suscribed">{% trans "Suscribed:" %}</label></th>
                        <td>
                          <input type="checkbox" name="suscribed" id="id_suscribed" />
                          <input type="hidden" name="confirmation_key" id="id_confirmation_key" />
                        </td>
                      </tr>   
                      <tr>
                        <th><input type="submit" class="submit" value="{% trans 'Sign' %}"></th>
                      </tr>
                    </table>
                  </form>
                <!--
                <form>
                  <ul>
                    <li><label for='name'>Name</label><input type='text' /></li>
                    <li><label for='email'>Email</label><input type='text' /></li>
                    <li><label for='email'>Country</label><input type='text' /></li>  
                    <li><input type='submit' value='Sign' class='right'/></li>
                  </ul>
                </form>
                -->

              </div>
              
            </div>
          </section>
        <!-- end: manifesto -->
        <div class='divider'></div>
        <!-- begin: signers -->
        <section id='signers'>

          


          <div class='wrapper'>
            <h2 style='text-align:center' class='orange'> {% trans "Signers" %} </h2>

            {% for user in users %}
              
              <!--
              <li>
                <p>
                  {{ user.get_profile.country }} -> <i>'{{ user.get_profile.comment }}'</i>
                  {{ user.date_joined|naturaltime }},{{ user.get_full_name }},{{ user.email }}
                </p>
              </li>
            -->
              {% cycle "<div class='one-third'><div class='center'><ul class='signer-list'>" "" "" "" ""%}
              
                
                    <li><img title="{{ user.get_profile.comment }}" alt="{{ user.get_profile.comment }}" width='80px' height='80px' src="http://www.gravatar.com/avatar/{{ user.mail }}" />{{ user.get_full_name }}</li>
                  
                
              % cycle "</ul></div></div>" "" "" "" ""%}

             
            {% endfor %}

<!--
            <div class='one-third'>
              <div class='center'>
                <ul class='signer-list'>
                  <li><img width='80px' height='80px' />Waldo Uribe</li>
                  <li><img width='80px' height='80px' />Waldo Uribe</li>
                  <li><img width='80px' height='80px' />Waldo Uribe</li>
                  <li><img width='80px' height='80px' />Waldo Uribe</li>
                  <li><img width='80px' height='80px' />Waldo Uribe</li>
                </ul>
              </div>
            </div>
            <div class='one-third'>
              <ul class='signer-list'>
                <li><img width='80px' height='80px' />Waldo Uribe</li>
                <li><img width='80px' height='80px' />Waldo Uribe</li>
                <li><img width='80px' height='80px' />Waldo Uribe</li>
                <li><img width='80px' height='80px' />Waldo Uribe</li>
                <li><img width='80px' height='80px' />Waldo Uribe</li>
              </ul>
            </div>
            <div class='one-third'>
              <ul class='signer-list'>
                <li><img width='80px' height='80px' />Waldo Uribe</li>
                <li><img width='80px' height='80px' />Waldo Uribe</li>
                <li><img width='80px' height='80px' />Waldo Uribe</li>
                <li><img width='80px' height='80px' />Waldo Uribe</li>
                <li><a class='button' href='#'>+ More</a></li>
              </ul>
            </div>

          -->
            
          </div>
        </section>
        <!-- end: signers -->
        <div class='divider'></div>
        <!-- begin: experiences -->
        <section id='experiences'>
          <div class='wrapper'>
            <h2 class='teal'>{% trans "Experiences" %}</h2>
            <div class='one-third'>
              <div class='center'>
                <h3>Chile ágil</h3>
                <img width='200px' height='150px' />
              </div>
              <div class='center'>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu magna ac magna hendrerit posuere. 
                  <a href=''>{% trans "Read more" %}</a>
                </p>
              </div>
            </div>
            <div class='one-third'>
              <div class='center'>
                <h3>Chile ágil</h3>
                <img width='200px' height='150px' />
              </div>
              <div class='center'>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu magna ac magna hendrerit posuere. 
                  <a href=''>{% trans "Read more" %}</a>
                </p>
              </div>
            </div>
            <div class='one-third'>
              <div class='center'>
                <h3>Chile ágil</h3>
                <img width='200px' height='150px' />
              </div>
              <div class='center'>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu magna ac magna hendrerit posuere. 
                  <a href=''>{% trans "Read more" %}</a>
                </p>
              </div>
            </div>
            <div class='one-third'>
              <div class='center'>
                <h3>Chile ágil</h3>
                <img width='200px' height='150px' />
              </div>
              <div class='center'>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu magna ac magna hendrerit posuere. 
                  <a href=''>{% trans "Read more" %}</a>
                </p>
              </div>
            </div>
            <div class='one-third'>
              <div class='center'>
                <h3>Chile ágil</h3>
                <img width='200px' height='150px' />
              </div>
              <div class='center'>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu magna ac magna hendrerit posuere. 
                  <a href=''>{% trans "Read more" %}</a>
                </p>
              </div>
            </div>
            <div class='one-third'>
              <div class='center'>
                <h3>Chile ágil</h3>
                <img width='200px' height='150px' />
              </div>
              <div class='center'>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu magna ac magna hendrerit posuere. 
                  <a href=''>{% trans "Read more" %}</a>
                </p>
              </div>
            </div>
          </div>
        </section>
        <!-- end: experiences -->
        <div class='divider'></div>
        <!-- begin: about -->
        <section id='about'>
          <div class='wrapper'>
            <h2 style='text-align:center' class='pink'> {% trans "About" %} </h2>
            <div class='center'>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est mauris, vulputate congue tincidunt nec, pharetra ac libero. Aenean congue, neque at euismod lacinia, est orci ultricies mi, eu blandit augue massa et arcu. Pellentesque eget dolor sit amet mauris malesuada fringilla. Sed vitae felis non mi tempor egestas et ac nunc. Aliquam eget fermentum ligula. Cras sit amet vehicula sem. Duis porttitor diam sit amet neque dapibus in euismod massa hendrerit. Maecenas cursus vestibulum elit, sagittis malesuada tortor dignissim id. Vestibulum eget erat enim. Aenean et nulla turpis, scelerisque porta metus.</p>
            <ul class='horizontal-list'>
              <li><a href='http://www.chileagil.cl'> Chile agil </a></li>
              <li>|</li>
              <li><a href='http://www.chileagil.cl'> Chile agil </a></li>
              <li>|</li>
              <li><a href='http://www.chileagil.cl'> Chile agil </a></li>
              <li>|</li>
              <li><a href='http://www.chileagil.cl'> Chile agil </a></li>
            <ul>
            </div>
          </div>
        </section>
        <div class='divider'></div>
        <!-- end: about -->
      </div>
      <!-- end:content -->
      
      <!-- begin: footer -->
      <footer>
      
      </footer>
      <!-- end: footer -->
    </div>
    <!-- end: page -->
    <script type="text/javascript">


      var _gaq = _gaq || [];

      _gaq.push(['_setAccount', 'UA-32336771-1']);

      _gaq.push(['_trackPageview']);


      (function() {

        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

      })();


    </script>
  </body>
</html>
