{% load staticfiles %}
{% load i18n %}
{% load humanize %} 
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% trans "Digital Solidarity Manifesto" %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <!--<link rel="stylesheet" href="style.css" type="text/css" />-->
    {% comment %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32336771-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endcomment %}
  </head>
  <body>
    <!-- begin: page -->
    <div class='page'>
      <!-- begin: header -->
      <header>
        <div id='header-wrapper' class='wrapper'>
          <a href="javascript:scroll_to('manifesto')" id='logo'><!--Digital Solidarity-->{% trans "Digital<span>Solidarity</span>Manifesto" %}
          </a>

            <nav id='main-nav'>
              <ul>
                <li><a href="javascript:scroll_to('manifesto')" id='link-manifesto'>Manifesto</a></li>
                <li>|</li>
                <li><a href="javascript:scroll_to('signers');"  id='link-signers'>Signers</a></li>
                <li>|</li>
                <li><a href="javascript:scroll_to('experiences');"  id='link-experiences'>Experiences</a></li>
                <li>|</li>
                <li><a href="javascript:scroll_to('about');"  id='link-about'>About</a></li>
                <li>|</li>
                <li>
                    <form action="/i18n/setlang/" method="post" id="language">
                    {% csrf_token %}
                    <div>
                    <form action="/i18n/setlang/" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <select name="language">
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                <option value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>
                                {% endfor %}
                            </select>
                        <input type="submit" value= '{% trans "change" %}' />
                    </form>
                </li>
              </ul>
            </nav>
      </header>


      
      <!-- end: header -->
      <div class='clear'></div>
      <!-- begin: content -->
      <div id='content' class='wrapper'>
        <section id='manifesto'>
          <div class='one-third'>
            <img src="{% static 'images/agile.png' %}" width='250px'></img>
            <p id='slogan'>{% trans "Going beyond " %} Software Craftmanship</p>
          </div>
          <div class='two-thirds'>
            <div id='the-manifesto'>
              <h2 class='yellow'>Manifesto</h2>
              <p>{% trans "As digital professionals we commit to put our knowledge, skills and experience to the service of mankind. Through this work we want to invite to:" %}
              </p>
                <ul>
                <li>{% trans "Go beyond well-crafted software" %} {% trans "towards <strong>software that really matters</strong>" %}</li>
                <li>{% trans "Go beyond steadily adding value" %} {% trans "towards <strong>constantly making this world a better place</strong>" %}</li>
                <li>{% trans "Go beyond a community of professionals" %}
                  {% trans "towards <strong>a global culture of digital solidarity</strong>" %}</strong></li>
                <li>{% trans "Go beyond productive partnerships" %}
                  {% trans "towards <strong>a fraternity that takes care of the needy</strong>" %}</li>
              </ul>
                <p>
                  {% trans "That is, if the items on the left are necessary for developing useful software and creating business value, we consider that the goals on the right also deserve our skills, energy and passion." %}
                </p>
            </div>    
              <div class='form-box'>
                <h3 class='light-blue'>Support</h3>
                <br>
                <form action="/accounts/signup/" method="post">
                        {% csrf_token %}
                        <table>
                            {{ form.as_table }}   
                            <tr><td></td><td><input type="submit" value="Firmar"></td></tr>
                        </table>
                </form>
                <!--
                <form>
                  <ul>
                    <li><label for='name'>Name</label><input type='text' /></li>
                    <li><label for='email'>Email</label><input type='text' /></li>
                    <li><label for='email'>Country</label><input type='text' /></li>  
                    <li><input type='submit' value='Sign' class='right'/></li>
                  </ul>
                </form>
                -->

              </div>
              
            </div>
          </section>
        <!-- end: manifesto -->
        <div class='divider'></div>
        <!-- begin: signers -->
        <section id='signers'>
          <div class='wrapper'>
            <h2 style='text-align:center' class='orange'> Signers </h2>
            <div class='one-third'>
              <div class='center'>
                <ul class='signer-list'>
                  <li><img width='80px' height='80px' />Waldo Uribe</li>
                  <li><img width='80px' height='80px' />Waldo Uribe</li>
                  <li><img width='80px' height='80px' />Waldo Uribe</li>
                  <li><img width='80px' height='80px' />Waldo Uribe</li>
                  <li><img width='80px' height='80px' />Waldo Uribe</li>
                </ul>
              </div>
            </div>
            <div class='one-third'>
              <ul class='signer-list'>
                <li><img width='80px' height='80px' />Waldo Uribe</li>
                <li><img width='80px' height='80px' />Waldo Uribe</li>
                <li><img width='80px' height='80px' />Waldo Uribe</li>
                <li><img width='80px' height='80px' />Waldo Uribe</li>
                <li><img width='80px' height='80px' />Waldo Uribe</li>
              </ul>
            </div>
            <div class='one-third'>
              <ul class='signer-list'>
                <li><img width='80px' height='80px' />Waldo Uribe</li>
                <li><img width='80px' height='80px' />Waldo Uribe</li>
                <li><img width='80px' height='80px' />Waldo Uribe</li>
                <li><img width='80px' height='80px' />Waldo Uribe</li>
                <li><a class='button' href='#'>+ More</a></li>
              </ul>
            </div>
            
          </div>
        </section>
        <!-- end: signers -->
        <div class='divider'></div>
        <!-- begin: experiences -->
        <section id='experiences'>
          <div class='wrapper'>
            <h2 class='teal'>Experiences</h2>
            <div class='one-third'>
              <div class='center'>
                <h3>Chile ágil</h3>
                <img width='200px' height='150px' />
              </div>
              <div class='center' id="experience-txt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu magna ac magna hendrerit posuere. 
                  <a href=''>Read more</a>
                </p>
              </div>
            </div>
            <div class='one-third'>
              <div class='center'>
                <h3>Chile ágil</h3>
                <img width='200px' height='150px' />
              </div>
              <div class='center' id="experience-txt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu magna ac magna hendrerit posuere. 
                  <a href=''>Read more</a>
                </p>
              </div>
            </div>
            <div class='one-third'>
              <div class='center'>
                <h3>Chile ágil</h3>
                <img width='200px' height='150px' />
              </div>
              <div class='center' id="experience-txt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu magna ac magna hendrerit posuere. 
                  <a href=''>Read more</a>
                </p>
              </div>
            </div>
            <div class='one-third'>
              <div class='center'>
                <h3>Chile ágil</h3>
                <img width='200px' height='150px' />
              </div>
              <div class='center' id="experience-txt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu magna ac magna hendrerit posuere. 
                  <a href=''>Read more</a>
                </p>
              </div>
            </div>
            <div class='one-third'>
              <div class='center'>
                <h3>Chile ágil</h3>
                <img width='200px' height='150px' />
              </div>
              <div class='center' id="experience-txt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu magna ac magna hendrerit posuere. 
                  <a href=''>Read more</a>
                </p>
              </div>
            </div>
            <div class='one-third'>
              <div class='center'>
                <h3>Chile ágil</h3>
                <img width='200px' height='150px' />
              </div>
              <div class='center' id="experience-txt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu magna ac magna hendrerit posuere. 
                  <a href=''>Read more</a>
                </p>
              </div>
            </div>
          </div>
        </section>
        <!-- end: experiences -->
        <div class='divider'></div>
        <!-- begin: about -->
        <section id='about'>
          <div class='wrapper'>
            <h2 style='text-align:center' class='pink'> About </h2>
            <div class='center'>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est mauris, vulputate congue tincidunt nec, pharetra ac libero. Aenean congue, neque at euismod lacinia, est orci ultricies mi, eu blandit augue massa et arcu. Pellentesque eget dolor sit amet mauris malesuada fringilla. Sed vitae felis non mi tempor egestas et ac nunc. Aliquam eget fermentum ligula. Cras sit amet vehicula sem. Duis porttitor diam sit amet neque dapibus in euismod massa hendrerit. Maecenas cursus vestibulum elit, sagittis malesuada tortor dignissim id. Vestibulum eget erat enim. Aenean et nulla turpis, scelerisque porta metus.</p>
            <ul class='horizontal-list'>
              <li><a href='http://www.chileagil.cl'> Chile agil </a></li>
              <li>|</li>
              <li><a href='http://www.chileagil.cl'> Chile agil </a></li>
              <li>|</li>
              <li><a href='http://www.chileagil.cl'> Chile agil </a></li>
              <li>|</li>
              <li><a href='http://www.chileagil.cl'> Chile agil </a></li>
            <ul>
            </div>
          </div>
        </section>
        <div class='divider'></div>
        <!-- end: about -->
      </div>
      <!-- end:content -->
      
      <!-- begin: footer -->
      <footer>
      
      </footer>
      <!-- end: footer -->
    </div>
    <!-- end: page -->
    <script type="text/javascript">


      var _gaq = _gaq || [];

      _gaq.push(['_setAccount', 'UA-32336771-1']);

      _gaq.push(['_trackPageview']);


      (function() {

        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

      })();


    </script>
  </body>
</html>
